<html>
  <body>
    <div id="main-content">
      
    </div>
  </body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/operators.js') }}?v=1.0.0" ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/state.js') }}?v=1.0.0" ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/stateUI.js') }}?v=1.0.0" ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/tf-system.js') }}?v=1.0.0" ></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/initialize.js') }}?v=1.0.0" ></script>